/* Custom color theme properties */
:root {
  --f7-theme-color: #33b198;
  --f7-theme-color-rgb: 20, 143, 119;
  --f7-theme-color-shade: #0f6b59;
  --f7-theme-color-tint: #19b395;
}

/* Your app custom styles here */

/*[data-name="home"]*/
.page-background {
  background-image: url("../assets/background_home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-name="result"] {
  overflow: auto;
}
.bg-color-cadetblue {
  --f7-theme-color-bg-color: #5f9ea0;
}
.bg-color-cadetblue-dark {
  --f7-theme-color-bg-color: #31888b;
}
.navbar-bg {
  background-color: transparent;
}

#input {
  padding-top: 10vh;
  width: 70%;
  margin: auto;
}
#input-2 {
  width: 70%;
  align-items: center;
  margin: auto;
}
.card {
  min-width: 335px !important;
}
.start-search-row {
  margin-top: 0;
  padding-top: 0;
}
.result-companies {
  padding-bottom: 0;
}

.title-result {
  font-size: 40px !important;
  color: var(--f7-theme-color-shade);
  overflow: initial !important;
  text-align: center;
}

.title-keywords {
  font-size: 40px !important;
  overflow: initial !important;
  text-align: center;
}

.category {
  width: fit-content;
}

.pie-strong {
  background-color: transparent !important;
  max-width: 70%;
  margin: auto;
  //margin-left: 20vw;
}
.pie-chart-2 {
  max-width: 24em;
  margin: auto;
}

.toolbar-bottom {
}

#category-form {
  background: center !important;
}
.catContainer {
  background: rgba(0, 0, 0, 0.699) !important;
}
